services:
  watcher:
    image: ghcr.io/astral-sh/uv:python3.13-bookworm-slim
    container_name: aternos-watcher
    restart: unless-stopped
    volumes:
      - .:/app
    working_dir: /app
    env_file:
      - .env
    command: uv run main.py
